



<form class="user-form" #userInputForm="ngForm">
  <div>
    <label  for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName" [(ngModel)]="firstName" required>
  </div>

  <div>
    <label  for="lastName">Last Name</label>
    <input type="text" id="lastName" name="lastName" [(ngModel)]="lastName" required>
  </div>

  <div>
    <label  for="age">Age</label>
    <input type="text" id="age" name="age" [(ngModel)]="age" required>
  </div>

  <div>
    <label  for="phone">Phone Number</label>
    <input type="text" id="phone" name="phone" [(ngModel)]="phone" required>
  </div>

  <div>
    <label  for="email">E-mail</label>
    <input type="text" id="email" name="email" [(ngModel)]="email" required>
  </div>
  
</form>






<div class="questions-wrapper">

  <div class="timer">0:{{time/1000}}</div>

  <div class="question">
    {{question}}
  </div>

  <div class="answers-wrapper">
    <div (click)="set_answer(a1)"
    class="choice"
    [class.choosen]="highlight(a1)"
    >{{a1}}</div>
    <div (click)="set_answer(a2)"
    class="choice"
    [class.choosen]="highlight(a2)"
    >{{a2}}</div>
    <div (click)="set_answer(a3)"
    class="choice"
    [class.choosen]="highlight(a3)"
    >{{a3}}</div>
    <div (click)="set_answer(a4)"
    class="choice"
    [class.choosen]="highlight(a4)"
    >{{a4}}</div>
  </div>

  <div (click)='submit_answer()' class="submit">
    Next
  </div>
</div>
